.card{
  --space: 1.2rem;
  --border-color: 215, 51%, 70%; 
  background-color: var(--card-surface-color);
  width: 20rem;
  border-radius: 1rem;
  padding: var(--space, 1rem);
}

.card-description{
  margin-top: -10px;
}

.card-title:hover{
  cursor: pointer;
  color: var(--primary-hue-two);
}

.card-image{
  position: relative;
  order: -1;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.card-image:hover::before{
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-hue-two);
  opacity: 0.5;
}

.card-image:hover::after{
  content: url('../../images/icon-view.svg');
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-caption em{
  font-style: unset;
  color: var(--title-color);
}

.card-caption em:hover{
  cursor: pointer;
  color: var(--primary-hue-two);
}

.card-avatar{
  width: 1.5rem;
  height: 1.5rem;
  outline: 1px solid var(--title-color);
  border-radius: 50%;
}