.padding-block-1rem{
  padding-block: 1rem;
}

.border-top{
  /* Use better ways when you do this with Sass */
  --border-color: 215, 51%, 70%; 
  border-top: 0.25px solid hsla(var(--border-color), 0.5);
}