@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
  --font-family: 'Red Hat Display', sans-serif;
  --font-size-body: 1rem;

  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;

  --brand-hue-500: hsl(245, 75%, 52%);
  --brand-hue-300: hsl(225, 100%, 94%);

  --brand-neutral-100: hsl(220, 35%, 100%);
  --brand-neutral-300: hsl(224, 54%, 96%);
  --brand-neutral-500: hsl(223, 47%, 23%);
}

body{
  height: 100vh;
  background-image: url(../../images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-color: var(--brand-hue-300);

  font-family: var(--font-family);
}

@media screen and (max-width: 25em) {
   body{
    background-image: url(../../images/pattern-background-mobile.svg);
    background-position: center;
   }
}